*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

$primary-bgColor: hsl(226, 43%, 10%); /* Very Dark Blue */
$user-bgColor: hsl(246, 80%, 60%); /* Blue */
$outline: hsl(0, 0%, 100%); /* White */
$secondary-bgColor: hsl(235, 46%, 20%); /* Dark Blue */
$dummy2: hsl(235, 45%, 61%); /* Desaturated Blue */
$hover: hsl(235, 45%, 40%); /* Desaturated Blue */
$smallTxt: hsl(236, 100%, 87%); /* Pale Blue */
$bigTxt: hsl(0, 0%, 100%); /* Pale Blue */

/* Card header bgColors */
$work: hsl(15, 100%, 70%); /* Light Red */
$play: hsl(195, 74%, 62%); /* Soft Blue */
$study: hsl(348, 100%, 68%); /* Light Red */
$exercise: hsl(145, 58%, 55%); /* Lime Green */
$social: hsl(264, 64%, 52%); /* Violet */
$selfCare: hsl(43, 84%, 65%); /* Soft Orange */

.container {
    width: 100%;
    height: 100vh;
    background-color: $primary-bgColor;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-wrapper {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 2rem;
}

.report-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $secondary-bgColor;
    border-radius: 10px;

    .options {
        padding: 1.5rem;
        list-style: none;
        color: $dummy2;
        display: flex;
        flex-direction: column;

        .option-1, .option-2 {
            margin-bottom: 1rem;
        }

        .option:hover {
            color: $bigTxt;
            cursor: pointer;
        }
    }
}

.active {
    color: $outline;
}


.user-wrapper {
    padding: 1.5rem;
    background-color: $user-bgColor;
    border-radius: 10px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $outline;

        margin-bottom: 1.5rem;
    }

    .report {
        font-size: 12px;
        color: $smallTxt;
    }

    .user-name {
        font-size: 2.5rem;
        color: $bigTxt;
        font-weight: 300;
        margin-bottom: 3.5rem;
    }
}

.details-wrapper {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.time-wrapper {
    display: grid;
    grid-template-rows: 40px 1fr;
    border-radius: 10px 10px 13px 13px;
    position: relative;
    
    .icon {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 15px;
    }

    .ex-icon {
        width: 81px;
        height: 51px;
        top: 0px;
    }

    .time-details {
        background-color: $secondary-bgColor;
        border-radius: 10px;
        z-index: 2;
        grid-row: 2 / 3;
        padding: 1.5rem 2rem 2rem 2rem;

        .time-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            .title {
                font-size: 18px;
                color: $bigTxt;
                font-size: 500;
            }

            img {
                align-self: center;
            }

            img:hover {
                cursor: pointer;
            }
        }

        .time {
            font-size: 3rem;
            color: $bigTxt;
            font-weight: 300;
        }

        .last-time {
            font-size: 13px;
            color: $smallTxt;
        }
    }

    .time-details:hover {
        background-color: $hover;
        cursor: pointer;
    }

}

.time-1 { background-color: $work; }
.time-2 { background-color: $play; }
.time-3 { background-color: $study; }
.time-4 { background-color: $exercise; }
.time-5 { background-color: $social; }
.time-6 { background-color: $selfCare; }

@media only screen and (max-width: 810px) {
    .container {
        height: auto;
    }

    .dashboard-wrapper {
        width: 90%;
        grid-template-columns: 1fr;
        margin: 3rem 0 3rem 0;
    }

    .report-wrapper {
        .options {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            .option-1, .option-2, .option-3 {
                flex: 1;
                margin-bottom: 0px;
                padding: 2px 4px;
            }
        }
    }

    .details-wrapper {
        grid-template-columns: 1fr;
    }

    .user-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .img-wrapper img {
            margin-right: 20px;
            margin-bottom: 0px;
        }

        .user-info {
            display: flex;
            flex-direction: column;

            .user-name {
                font-size: 1.5rem;
                margin-bottom: 0px;
            }
        }
    }

    .time-details {
        .time-title {
            margin-bottom: 0.5rem;
        }

        .time-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
